h1{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: big; color: #ffbe09;}
h2 {font-family: Verdana, Arial, Helvetica, sans-serif;}
p {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; color: #000000;}
li {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; color: #000000;}
td {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; color: #000000;}
td.caption {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; color: #000000; font-weight: bold;}
td.links {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; color: #000000; font-weight: bold;}
